body{
    background-color: antiquewhite;
    font-family: monospace;
    font-size: 20px;
}

.tudo,img{
    text-align: center;
    background-color: black;
    color: white;
    position: relative;
    left: 25%;
    width: 50%;
    right: 50%;
}

button{
    background-color: blue;
    color: white;
    height: 40px;
    font-weight: bold;
}

#bem-vindo, img{
    display: none;
}